.p-fluid {
    display: ruby;
}

.field {
    padding-right: 1rem;
    padding-bottom: 1rem;
}


.p-button {
    color: #ffffff;
    background: #6366F1;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}