.layout {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: white;
  color: white;
  padding: 20px 0px 20px 0px;
  transition: width 0.3s ease;
  border: 1px solid rgba(0, 0, 0, .125);
  margin-top: 1.3rem;
  margin-left: 1.45rem;
}

.sidebar.open {
  width: 250px;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.02), 0px 0px 2px rgba(0, 0, 0, 0.05), 0px 1px 4px rgba(0, 0, 0, 0.08);
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 0px 5px 0px 8px;
  background-color: white ;
  cursor: pointer;
  color: black;
  padding-left: 1.95rem;
  padding: .8rem;
  border-radius: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.sidebar ul li.active {
  color: #16a085 ;
}

 .sidebar ul li:hover {
  background-color: #f5f5f5 ;
} 

.toggle-button {
  padding: 10px;
  margin-bottom: 20px;
  background-color: #1abc9c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.toggle-button:hover {
  background-color: #16a085;
}

/* Content area */
.content {
  flex-grow: 1;
  padding: 20px;
  background-color: #ecf0f1;
}

.ul-link {
  color: black;
  text-decoration: none;
}

.ul-link:hover {
  color: #16a085;
}

hr.solid {
  border-top: 1px solid #bbb;
  margin-top: 0rem;
  margin-bottom: 0rem;
}
